@import "_config.scss";
@import "glitch.scss";

$black: #222222;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkgrey: #333333;
$red: #ff1755;
$green: #078309;
$blue: #22285c;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
  -moz-transition:$e;
  transition:$e;
}

.body{
  font-family: sans-serif;
}

.app {
  .navbar {
    color: #fff000;
  }
}

.container-fluid {
  line-height: 24px;
}

.homePage {
  .text{
    color: $white;
  }
  .bodyOfText {
    color: $green;
  }
}


.gitPage {
  .gitContainer {
      text-align:center;
    .gitText{
        text-align:center;
      padding-left: 20px;
      display: table;
    }
    .gitLogo {
      //display: inline-block;
      //margin: 0 auto;
      max-width: 400px;
      padding: 20px;
      //width:960px;
      margin:auto;
      overflow:hidden;
      display:inline-block;

    }
  }
}

.p5Page {

  .carousel .slider-wrapper {

    .carouselImage {
      padding-top: 10%;
      .carouselImagePic {

        .p5text{
          padding: 2px;
        }
      }
    }
  }

  li.slide.selected {
    padding: 10px;
    padding-top: 30px;
    background: rgba(0, 0, 0, 0.4);
  }

  li.slide.selected div div canvas {
    max-height: 400px;
    max-width: 900;
  }

  .canvas .slide {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }

  .p5text{
    padding: 20px;
    text-align: center;
  }
}

.tracksPage {
  .waveform {
    border: 10px;
    border-color: $white;
    z-index: 10;
  }
  .soundcoudTrackIcon{
    text-align: center;
    padding-top: 20px;

    .trackIcon {
    max-width: 300px;
  }


  }
}

.videoPage {
  .videoElement {

    padding-top: 20px;
  }
  .videoText {
    text-align: center;
  }
  .videoPlayer {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin: 0 auto;
   width: 50%;
   padding-top: 10%;

   .player {

   }
  }
}

.mixingPage {
  .soundcoudTrackIcon {
    text-align: center;
    padding-top: 20px;

    .trackIcon {
    max-width: 300px;
    }
  }
}

.setsPage {
  .pageTitle {
    text-align: center;
  }
  .mixcoudTrackIcon {
    text-align: center;

    padding-top: 20px;
  }
  .trackIcon {
    max-width: 350px;
    padding: 10px;
  }
}

.footerWrapper{
  text-align: center;
    .icon {
      padding: 5px;
      max-height: 50px;
      .footerText {
        font-size: 9px;
    }
  }
}
