@import "_config.scss";
@import "glitch.scss";

$black: #222222;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkgrey: #333333;
$red: #ff1755;
$green: #078309;
$blue: #22285c;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
  -moz-transition:$e;
  transition:$e;
}

.body{
  font-family: sans-serif;
}

.app {
  .navbar {
    color: #fff000;
  }
}

.container-fluid {
  line-height: 24px;
}

.homePage {
  .homeText{
    text-align: center;

    .textHomePage{
      vertical-align: middle;
    }
  }
}

.gitPage {
  .gitContainer {
    .gitText{
      text-align: center;
    }

    .gitLogo {
      max-width: 400px;
      padding: 20px;
      margin:auto;
      overflow:hidden;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

.p5Page {
  .carousel {
    .slider-wrapper {
      .p5Title {
        padding: 5px;
        text-align: center;
      }

      .control-dots {
        padding-top: 5px;
        text-align: center;
      }

      .carouselImage {
        padding-top: 10%;
        .carouselImagePic {
        }
      }
    }
  }

  li.slide.selected {
    padding: 10px;
    padding-top: 30px;
    background: rgba(0, 0, 0, 0.4);
  }

  li.slide.selected div div canvas {
    max-height: 400px;
    max-width: 900;
  }

  .canvas .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .p5text{
    padding: 20px;
    text-align: center;
  }
}

.tracksPage {
  .waveform {
    border: 10px;
    border-color: $white;
    z-index: 10;
  }
  
  .soundcoudTrackIcon{
    text-align: center;
    padding-top: 20px;

      .trackIcon {
      max-width: 300px;
      }
  }
}

.videoPage {
  .videoElement {
    padding-top: 20px;
  }

  .videoText {
    text-align: center;
    color: $white;
  }

  .videoPlayer {
   display: block;
   margin: auto;
   width: 50%;
   padding-top: 20px;

   .player {
   }
  }
}

.mixingPage {
  .soundcoudTrackIcon {
    text-align: center;
    padding-top: 20px;

      .trackIcon {
      max-width: 300px;
      }
  }
}

.setsPage {
  .pageTitle {
    text-align: center;
  }

  .mixcoudTrackIcon {
    text-align: center;
    padding-top: 20px;
  }

  .trackIcon {
    max-width: 350px;
    padding: 10px;
  }
}

.imagePage {
  .imageContainer{

    .imageText{
      text-align: center;
    }

    .imageRow {
      .imageEditImages{
        margin:auto;
        overflow:hidden;
        // display: block;
        // float: left;
        // // margin-left: 33%;
        // // margin-right: 66%;
        // width: 20%;
        //
        // // display: inline-block;
        // // margin: auto;
        // // width: 50%;
        max-height: 650px;
        max-width: 450px;
        padding: 15px;
        // margin-left: 15%;
        // margin-right: 15%;


        align-items: center;
        padding-right: 15px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
  }
}

.footerWrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 20px;

    .icon {
      padding: 5px;
      max-height: 50px;

      .footerText {
        font-size: 9px;
    }
  }
}
