@import "_config.scss";
@import "glitch.scss";

$black: #222222;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkgrey: #333333;
$red: #ff1755;
$green: #078309;
$blue: #22285c;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
  -moz-transition:$e;
  transition:$e;
}

.body{
  font-family: sans-serif;
}

.app {
  .navbar {
    color: #fff000;
  }
}

.container-fluid {
  line-height: 24px;
}

.homePage {
  .text{
    color: $white;
  }
  .bodyOfText {
    color: $green;
  }
}


.gitPage {
  .gitLogo {
    display: inline-block;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;

  }
}
.tracksPage {
  .waveform {
    border: 10px;
    border-color: $white;
    z-index: 10;
  }
}

.videoPage {
  .videoPlayer {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin: 0 auto;
   width: 40%;
   padding-top: 10%;

  }
}


.p5Page {

  .carouselImage {
    padding-top: 10%;
    .carouselImagePic {

      .p5text{
        padding: 2px;
      }
    }
  }

  li.slide.selected {
    padding: 10px;
    padding-top: 30px;
    background: rgba(0, 0, 0, 0.4);

  }

  .canvas .slide {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }

  .p5text{
    padding: 20px;
    text-align: center;
  }
}


.footer{
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  bottom: 0;
  color: $blue;

  .icon {
    padding: 5px;
    height: 50px;

  }
}
