//    https://gist.github.com/miguelmota/736a05db65f39214a5db
$black: #222222;

.glitch{
  // display:flex;
  color:white;
  font-size:100px;
  position:relative;
  height: 100px;
  margin:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 20px;
  // width: 11%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,random(900)+px,random(100)+px,0);
    }
  }
}

.glitch:after{
  text-align: center;
  content:attr(data-text);
  position:absolute;
  left:1px;
  text-shadow:-2px 0 red;
  top:20px;
  color: #95a5a6;
  background:$black;
  overflow:hidden;
  clip:rect(0,1000,1000,0);
  animation:noise-anim 1s infinite linear alternate-reverse;
  // text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(3)+px,900px,random(7)+px,0);
    }
  }
}

.glitch:before{
  text-align: center;
  content:attr(data-text);
  position:absolute;
  left:1px;
  text-shadow:2px 0 blue;
  top:0;
  color: #ecf0f1;
  background:$black;
  overflow:hidden;
  clip:rect(0,1000,1000,0);
  animation:noise-anim-2 1s infinite linear alternate-reverse;
  // text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}
