//    https://gist.github.com/miguelmota/736a05db65f39214a5db

$black: #222222;

.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:auto;
  height: 100px;
  margin:0 auto;
  padding-top: 20px;
  width: 50%;
  display: block;
  margin-left: 40%;
  margin-right: 45%;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,random(900)+px,random(100)+px,0);
    }
  }
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:50px;
  text-shadow:-2px 0 red;
  top:20px;
  color:white;
  background:$black;
  overflow:hidden;
  clip:rect(0,1000,1000,0);
  animation:noise-anim 1s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(10)+px,900px,random(10)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:17px;
  text-shadow:2px 0 blue;
  top:0;
  color:white;
  background:$black;
  overflow:hidden;
  clip:rect(0,1000,1000,0);
  animation:noise-anim-2 1s infinite linear alternate-reverse;
}
